<!DOCTYPE html>
<html lang="es-ar">
<head>
  <meta charset="UTF-8">
  <title>Planillas por Carpeta - W3.CSS</title>
  <!-- Vue 3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <!-- W3.CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-grey w3-padding">

<div id="app" class="w3-content" style="max-width:600px">
  <h1 class="w3-text-black w3-margin-bottom">Planillas</h1>
  
  <div v-for="(grupo, index) in planillasAgrupadas" :key="index" class="w3-card w3-margin-bottom">
    <button 
      @click="toggleGrupo(index)" 
      class="w3-button w3-blue w3-block w3-left-align"
    >
      {{ grupo.carpeta }}
    </button>
    <div v-show="grupo.abierto" class="w3-container w3-padding">
      <a 
        v-for="planilla in grupo.planillas" 
        :key="planilla.id"
        :href="'https://docs.google.com/spreadsheets/d/' + planilla.id"
        target="_blank"
        class="w3-block w3-padding w3-light-grey w3-hover-grey w3-round-large w3-margin-bottom"
      >
        📄 {{ planilla.nombre }}
      </a>
    </div>
  </div>
</div>

<script>
const app = Vue.createApp({
  data() {
    return { planillasAgrupadas: [] }
  },
  methods: {
    async cargarDatos() {
      const respuesta = await fetch('https://script.google.com/macros/s/AKfycbzMN6x8dZJXe6CaCje2qZDgQcbjVhtflL-xA6HOqTwqlft746J3TF7FGUt37ttFmhTVSA/exec');
      const datos = await respuesta.json();
      if (!Array.isArray(datos) || datos.length === 0) return;
      const grupos = {};
      datos.forEach(d => {
        if (!grupos[d.carpeta]) grupos[d.carpeta] = [];
        grupos[d.carpeta].push({ nombre: d.nombre, id: d.id });
      });
      this.planillasAgrupadas = Object.keys(grupos).map(carpeta => ({
        carpeta, planillas: grupos[carpeta], abierto: false
      }));
    },
    toggleGrupo(index) {
      this.planillasAgrupadas[index].abierto = !this.planillasAgrupadas[index].abierto;
    }
  },
  mounted() { this.cargarDatos(); }
});
app.mount('#app');
</script>

</body>
</html>
